* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

section {
  background-color: #95c623;
  border: 1px solid black;
  padding: 3rem;
  border-radius: 2%;
}

section h2 {
  margin: 0;
}

section.col-span-2 {
  background-color: #e55812;
  color: white;
  grid-column: span 2;
}

section.row-span-2 {
  background-color: #0e4749;
  color: white;
  grid-row: span 2;
}

section.column-start-3 {
  grid-column-start: 3;
}